Lab3/task1/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Street"/>
				<xs:element ref="building"/>
				<xs:element ref="number"/>
				<xs:element ref="Region"/>
				<xs:element ref="City"/>
				<xs:element ref="Country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Aleaxandria"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Egypt"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="martinageorgekamal@gmail.com"/>
				<xs:enumeration value="minageorgekamal@gmail.com"/>
				<xs:enumeration value="violageorgekamal@gmail.com"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Phones"/>
				<xs:element ref="Addresses"/>
				<xs:element ref="Email"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Employees">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Employee" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Martina George"/>
				<xs:enumeration value="Mina George"/>
				<xs:enumeration value="Viola George"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Phone">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Phone">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="home"/>
								<xs:enumeration value="mobile"/>
								<xs:enumeration value="work"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Phones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Phone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Smouha"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="St/"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="building">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_Phone">
		<xs:restriction base="xs:int">
			<xs:enumeration value="102344566"/>
			<xs:enumeration value="123456787"/>
			<xs:enumeration value="35192074"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
